[Unit]
Description=RPI agent
ConditionPathExists=/usr/local/bin/rpi-agent
After=network.target
 
[Service]
Type=simple
Restart=always
User=pi
WorkingDirectory=/usr/local/bin/
EnvironmentFile=/opt/rpi-agent/rpi-agent.env
ExecStart=/usr/local/bin/rpi-agent $OPTIONS
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rpi-agent

[Install]
WantedBy=multi-user.target